*,
*:after,
*:before{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* Farsíma stílar */

/* Stílar fyrir Mobile menu */

.mobileMenuCheck {
  display: none;
}
.mobileMenuLabel,
ul {
    border: 1px solid #cecfd5;
    border-radius: 6px;
}
label {
    position: fixed;
    top: 25;
    right: 20;
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
}
label:hover {
  color: #ff7b29;
}
input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}
nav {
    position: fixed;
    top: 2.7em;
    right: 1em;
    /*right: 1em;
    top: -10em;*/
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
}
input:checked ~ nav {
  max-height: 500px;
    top: 3.5em;
    right: 1em;
}
ul {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100px;
}
li {
  border-bottom: 1px solid #cecfd5;
}
li:last-child {
  border-bottom: 0;
}
a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
a:hover {
  color: #ff7b29;
}

header{
    width: 100%;
    height: 100px;
    background: #151515;
    color: #FFF;
    position: fixed;
}
.companyName {
    margin: 30px 30px;
}

/* slider */



.slider{
    width: 100%;
}



/* slider end */


/* events main */

.events{display: flex; flex-direction: column; width: 100%; background: black;}
.events div{margin: 30 auto;}
.subevent{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
.subevent img{margin: 0 auto;}
.subevent:hover{
    border: 2px solid gray;
}
.events a{
    text-decoration: none;
    color: #FFF;
    margin: 0;
    padding: 0;
}
/* events main end */





/* extra elements */



.headerSpacer{width: 100%; height: 100px;}
/* end extra */



@media screen and (min-width: 48em){
    .events{flex-direction: row; align-content: center; align-self: center; justify-content: center;}
    
    .mobileMenuLabel,
    .mobileMenuCheck{
        display: none;
    }
    nav{
        top: 1.5em;
        right: 5em;
       max-height: 100px;
    }
    nav ul{
    display: flex;
        flex-direction: row;
        width: 530px;
    }
    
}

